@use '../../styles/colorVariables.scss';
@use '../../styles/elementVariables.scss';

.menu {
  max-width: max-content;
  height: 40px;
  margin: auto;
  padding-inline: 3px;
  border-radius: elementVariables.$elementBorderRadius;
  background-color: colorVariables.$mainBackgroundColor;
  display: flex;
  align-items: center;
  column-gap: 36px;
  margin-bottom: 52px;

  @media (max-width: 767px) {
    position: sticky;
    top: 15px;
    max-width: 456px;
    justify-content: space-between;
    column-gap: unset;
    margin-bottom: 8px;
  }
}
