@use '../../styles/colorVariables.scss';
@use '../../styles/elementVariables.scss';
.popup {
  display: flex;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: colorVariables.$popupBackground;

  &__container {
    padding: 26px;
    width: 50%;
    max-width: 1300px;
    max-height: 50%;
    margin: auto;
    overflow-y: scroll;
    background-color: colorVariables.$mainBackgroundColor;
    border-radius: elementVariables.$elementBorderRadius;
  }

  &__title {
    text-wrap: balance;
  }

  &__close {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/popup_close_button.svg');
    @include elementVariables.closeButton;
    margin-left: auto;
  }

  @media (max-width: 767px) {
    &__container {
      transform: translateY(50%);
      padding: 26px;
      width: 100%;
      margin-inline: 12px;
      max-width: 1300px;
      max-height: 545px;

      overflow-y: scroll;
      background-color: #fff;
      border-radius: 10px;
    }
    .popup__container_open {
      transform: translateY(0);
      transition: transform 0.5s cubic-bezier(0, 0, 0.16, 1.22);
    }
  }
}

.popup_open {
  visibility: visible;
}
