@use './colorVariables.scss';
$elementBorderRadius: 10px;
$sectionMarginBottom: 30px;

@mixin closeButton {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

@mixin linkText {
  color: colorVariables.$link;
  cursor: pointer;
}
