@use '../../styles/colorVariables.scss';
@use '../../styles/elementVariables.scss';

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  gap: calc((100% - (416px * 3)) / 2);
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    // margin-inline: 12px;
    gap: 92px;
  }
}
