@use '../../styles/colorVariables.scss';
@use '../../styles/elementVariables.scss';

.news {
  margin-bottom: elementVariables.$sectionMarginBottom;
  background-color: colorVariables.$mainBackgroundColor;
  border-radius: elementVariables.$elementBorderRadius;
  overflow: hidden;

  &__element {
    height: 400px;
    display: flex;
    transition: height 0.3s ease-in-out;
  }

  &__information {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    color: colorVariables.$buttonTextColor;
    padding: 26px;
  }

  &__title {
    color: black;
    margin: 10px 0 20px;
    text-wrap: balance;
  }

  &__description {
    overflow: hidden;
  }
  &__control {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__hide-container {
    display: flex;
    align-items: center;
    gap: 10px;

    color: colorVariables.$link;
  }

  &__turn-page-button-container {
    display: flex;
    gap: 10px;
    align-self: end;
    align-items: center;
  }
  &__image-container {
    width: 50%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 767px) {
    &__element {
      height: unset;
      flex-direction: column;
    }

    &__information {
      max-width: unset;
      max-height: 400px;
    }

    &__image-container {
      width: unset;
    }

    &__image{
      object-fit: cover;
    }
  }
}

.news_collapse {
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  &:hover {
    border: 1px solid colorVariables.$additionalBackgroundColor;
  }
}

.news__element_collapse {
  height: 92px;
  display: block;
}

.news__information_collapse {
  max-width: 100%;
  padding: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news__description_collapse {
  width: 600px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: auto;
  color: colorVariables.$buttonTextColor;
}

.news_control_collapse {
  display: flex;
  align-items: center;
  gap: 10px;
}
