@import url('./assets/fonts/fonts.css');
@import url('./normalize.css');

:root {
  scroll-padding-top: 100px;
  font-family: 'Inter', sans-serif;

  background-color: #eaebf6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
