@use '../../styles/colorVariables.scss';
@use '../../styles/elementVariables.scss';
@use '../../styles/fontVariables.scss';

.header {
  margin-bottom: 50px;
  &__warn {
    height: 33px;
    color: white;
    background-color: colorVariables.$additionalBackgroundColor;
    display: flex;
    font-size: 14px;
    font-weight: 400;
  }

  &__close-button {
    background-color: transparent;
    background: url('../../assets/images/close_icon.svg') no-repeat center / contain;
    width: 24px;
    border: none;
    margin-right: 30px;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 20px 50px;
  }

  &__button {
    background-color: colorVariables.$additionalBackgroundColor;
    color: colorVariables.$mainBackgroundColor;
    padding: 11px;
    border-radius: elementVariables.$elementBorderRadius;
    border: none;
    margin-right: 15px;
    font-size: fontVariables.$standardFontSize;
    font-weight: fontVariables.$standardFontWeight;
    cursor: pointer;
  }

  &__logo {
    margin-right: auto;
    cursor: pointer;
  }

  &__options {
    width: 40px;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    background-color: colorVariables.$mainBackgroundColor;
    border-radius: elementVariables.$elementBorderRadius;
    border: none;
    cursor: pointer;

    &-button {
      width: 18px;
      height: 4px;
      background: url('../../assets/images/options_button.svg');
    }
  }

  .header__navigation-container {
    max-width: max-content;
    height: 40px;
    margin: auto;
    padding-inline: 3px;
    border-radius: elementVariables.$elementBorderRadius;
    background-color: colorVariables.$mainBackgroundColor;
    display: flex;
    align-items: center;
    column-gap: 36px;
  }

  .header__button {
    background-color: colorVariables.$additionalBackgroundColor;
  }

  @media (max-width: 767px) {
    & {
      margin-bottom: 8px;
    }

    &__container {
      row-gap: 25px;
      margin: 25px 12px 15px;
    }
    &__button {
      margin-right: 5px;
    }
    &__options {
      margin-left: unset;
    }
  }
}
