@use '../../styles/colorVariables.scss';
@use '../../styles/elementVariables.scss';

.header {
  .header__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .header__walletContainer {
      display: flex;
      align-items: center;

      .header__emptySpace {
        width: 40px;
        height: 42px;
        border-radius: elementVariables.$elementBorderRadius;
        background-color: colorVariables.$mainBackgroundColor;
      }
    }
  }

  .header__navContainer {
    
    button {
      color: colorVariables.$buttonTextColor;
      background-color: transparent;
      border-color: transparent;
      border-radius: 8px;
      height: calc(100% - 3px);
    }
    button:hover {
      cursor: pointer;
      background-color: #f4f4f4;
    }
    button:active {
      background-color: #f4f4f4;
    }
    .button_active {
      background-color: #f4f4f4;
    }
  }

  .header__warn {
    max-width: 1700px;
    background-color: colorVariables.$additionalBackgroundColor;
    display: flex;
  }

  .header__button {
    border: transparent;
    border-radius: elementVariables.$elementBorderRadius;
    background-color: colorVariables.$additionalBackgroundColor;
    font-size: 15px;
    font-weight: 500;
    padding-inline: 20px;
    height: 40px;
  }
}
